body {
	margin: 0;
	padding: 0;
	display: flex-column;
	justify-content: center;
	background: #777777;
}
.tests {
	background: #fff;
}
.answer {
	background-color: #85C1E9;
}
.question {
	background-color: #FF8F8F;
}
h3 {
	background: #87FF6A;
}
